@import url("https://fonts.googleapis.com/css2?family=Acme&family=Caveat:wght@700&family=Exo+2:wght@300&family=Merriweather&family=Permanent+Marker&family=Rowdies&display=swap");
:root {
  --font1: "Acme", sans-serif;
  --font2: "Exo 2", sans-serif;
  --font3: "Rowdies", cursive;
  --colordark: #06007e;
  --colormed: #abffea;
  --colorlight: #e5fef8;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--colorlight);
}
.container {
  overflow-x: hidden;
}
.nav {
  width: 100%;
  padding: 12px 24px;
  background-color: var(--colormed);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.introtext {
  font-family: var(--font3);
  font-weight: bold;
  font-size: 36px;
  color: var(--colordark);
  word-spacing: 5px;
}
.contcenter {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 50px 0 5px 0;
}
.search {
  width: 80%;
  display: flex;
  justify-content: center;
}
textarea {
  width: 96%;
  padding: 5px 8px;
  outline: none;
  border: 3px solid var(--colordark);
  border-radius: 5px;
  color: var(--colordark);
  font-family: var(--font2);
  font-size: 16px;
  resize: none;
}
#enterbtn {
  padding: 8px;
  border: 2px solid var(--colordark);
  border-radius: 5px;
  margin: 0px 0 0px 12px;
  color: var(--colordark);
  background-color: var(--colormed);
  font-weight: bold;
}
#enterbtn:hover {
  color: var(--colormed);
  background-color: var(--colordark);
}
.footcenter {
  display: flex;
  justify-content: center;
  width: 100vw;
}
.searchfoot {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  color: var(--colordark);
  width: 80%;
}
.lists {
  min-height: 50.5vh;
  margin: 35px 0;
}
ul {
  text-align: left;
}
li {
  font-family: var(--font2);
  display: flex;
  list-style: none;
  color: var(--colordark);
  border: 2px solid var(--colordark);
  border-radius: 5px;
  margin: 10px auto;
  background: var(--colormed);
  width: 83.6%;
}
li:hover {
  background: var(--colorlight);
}
li > p {
  width: 97.3%;
  word-wrap: break-word;
  padding: 10px;
}
li > button {
  background-color: rgb(255, 0, 0);
  padding: 2px 10px;
  border-radius: 3px;
  float: right;
  color: var(--colorlight);
  outline: none;
  border: none;
}
.done {
  background: #beffcc !important;
  color: #0b6b20;
  border: 2px solid#0b6b20;
}
.delete {
  display: none;
}
footer {
  text-align: center;
  width: 100%;
  font-size: 18px;
  font-family: var(--font1);
  background-color: var(--colormed);
  color: var(--colordark);
  padding: 15px;
  letter-spacing: 0.6px;
  word-spacing: 2px;
}
footer > span {
  font-weight: bold;
}
